/*body {
  /*margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(138, 187, 99); }
  */
<<<<<<< HEAD
  /*
=======
  background-color: #f8f9fa; 
}


>>>>>>> b847cf93c8cdbe35edfcd85ec77df36ff6ea1f32
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
    */
