/* TopBar.css */
/* Test comment to verify loading */
.topBar {
  background-color: rgb(185, 227, 204) !important;
  padding: 20px !important;
  border: 5px solid black !important;
}
.test-heading {
    color: rgb(255, 0, 238) !important;
    font-size: 40px !important;
  }

  .tab {
    /* Existing styles */
    margin-right: 20px; /* Add space between links */
  }
  
  .tab:last-child {
    margin-right: 0; /* Remove margin from the last tab */
  }